[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-oauth-toolkit = "*"
djangorestframework = "*"
mysqlclient = "*"
djangorestframework-jwt = "*"
cryptography = "*"
pyjwt = "*"
python-dotenv = "*"
python-jose = "*"
google-auth = "*"
django-cors-headers = "*"
django-rest-auth = "*"
django-allauth = "*"
jsonfield = "*"
matplotlib = "*"
scikit-learn = "*"
celery = "*"
django-celery-results = "*"

[dev-packages]

[requires]
python_version = "3.7"
