[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-oauth-toolkit = "*"
djangorestframework = "*"
mysqlclient = "*"
djangorestframework-jwt = "*"
cryptography = "*"
pyjwt = "*"
python-dotenv = "*"
python-jose = "*"
google-auth = "*"
django-cors-headers = "*"
django-rest-auth = "*"
django-allauth = "*"
jsonfield = "*"
matplotlib = "*"
scikit-learn = "*"
django-celery-results = "*"
redis = "*"
celery = {file = "https://github.com/celery/celery/zipball/master"}
billiard = {file = "https://github.com/celery/billiard/zipball/master"}
amqp = {file = "https://github.com/celery/py-amqp/zipball/master"}
kombu = {file = "https://github.com/celery/kombu/zipball/master"}
vine = {file = "https://github.com/celery/vine/zipball/master"}
django-task = "*"

[dev-packages]

[requires]
python_version = "3.7"
